.btnlink {
  color: white;
  padding: 5px;
  border-radius: 4px; 
  border: 2px solid white;
  margin-top: 5px; /* Ensures proper spacing */
  text-decoration: none;
 
}
  .btnlink:hover {
    background-color: white; /* Optional: Add a hover effect */
    color: black; /* Optional: Change text color on hover */
    transition: all 0.3s ease; /* Smooth transition */
    text-decoration: underline; /* Ensures underline is applied */
  }
  